@import "../../../assets/styles/colors.scss";

.results-dropdown {
  background-color: $containerBackground;
  padding: 5px;
  border: 1px solid white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 15em;
  overflow: scroll;

  .result {
    display: flex;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
    height: 2em;

    &:hover {
      background-color: $containerBackgroundHover;
    }

    .result-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .result-name {
      font-size: 1.2rem;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
