.artist-releases {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 600px) {
    width: 100%;
  }

  .release-table {
    display: flex;
    flex-direction: column;

    .release {
      margin: 0.1em;
      display: flex;
      flex-direction: column;

      .title {
        font-weight: bold;
      }
    }

    .pagination {
      display: flex;
      margin-left: auto;
      margin-top: 10px;

      .back-button {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }
}
