.h1 {
  font-size: 5em;
  font-weight: 500;

  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.h2 {
  font-size: 2em;
  font-weight: 500;

  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
